body{
  margin: 0px;
}

.bgWrapper {
  width: 100vw;
  height: 900px;
  background-image: url("fields-greyshape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
}

.header {
  text-align: center;
  font-family: 'Gotu', sans-serif;
  font-size: 28px;
  font-weight: lighter;
}

#profile{
  display: block;
  margin: 0px auto;
  border: 1px solid #333;
}
#profileDescription{
  text-align: center;
  font-family: 'Gotu', sans-serif;
  font-style:italic;
}
