h1{
  text-align:center;
}

#golBoard{
  display: block;
  margin: 0px auto;
  border: 1px solid #333;
}

#menuWrapper{
  margin: 0px auto;
  text-align: center;
}
#infoText{
  color: #999;
}
#runCheck{
  margin: 0px 10px;
}
#runCheckbox{
  padding-top:15px;
}
#clearButton{
  margin: 0px 10px;
}
#freqBox{
  /* margin: 0px 10px; */
}
#tickFrequency{
  /* margin-left: 5px; */
}
#rulesLink{
  font-weight: bold;
  color: #666;
}

.settingsWrapper{
  display: inline-block;
}
.settingsWrapper div{
  margin-bottom: 10px;
  text-align: center;
}
